/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



h1  {color: white;
    text-align: center;}

p    {color: white;}

.hr{
    border-color: white
}

.hr2{
    border-color: white;
    margin-left: 90px;
    margin-right: 90px;
}

.hr3{
    border-color: white;
    margin-right: 850px;
}

.card-text{
    color: black
}

#welcome_page{
    background-color: black
}

 #welcome_logo{
     display: flex;
     justify-content: center;
     align-content: space-around
 }

 #welcome_buttons{
     display: flex;
     flex-direction: row;
     justify-content: center
 }

 .person_search{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    justify-items: space-around
 }

 .card{
    margin-left: 80px;
    margin-right: 80px;
    background-color: #f1f1f1;
        width: 100px;
        text-align: center;
 }

 .card-text{
     color: black;
 }

 .flex-container{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: row;
 }

 .post-form{
     margin-left: 120px;
 }

 .post{
    margin-left: 90px;
    margin-right: 90px;
}


 textarea {
    resize: none;
    }
