<h1><%=@director.name%>'s Movies</h1>

<% if @director.id == session[:user]["id"] %>
    <%= button_to "Make a Movie", new_movie_path, method: :get %><br>
<% end %>

<% unless @director.movies.empty? %>
    <% @director.movies.each do |movie| %>
    <div>
        <h3><%= link_to "#{movie.name} (#{movie.release_year})", movie_path(movie) %></h3>
        <p><%=movie.short_synopsis%></p>
    </div>
    <% end %>
<% else %>
    This Director has no movies.
<% end %>